body{
    font-family: "Plus jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-slack{
    color: #483bfb;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{ 
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

/* media queries */

@media (max-width: 575.98px) {
.show-card{
    border-radius: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.card-img-top{
    border-radius: none !important;
    width: 100% !important;
    height: 350px !important;
    object-fit: cover !important;
}
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}


.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-room{
    text-decoration: none;
}

/* card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #483bfb !important;
    border: none !important;
}

.edit-btn{
    background-color: #483bfb !important;
    border: none !important;
}
.logout-link{
    border: #222222 !important;
    border-radius: 25px !important;
}

/* Map */
@media (max-width: 575.98px) {
    #map{
        height: 250px !important;
        width: 55.5vh !important;
    }
}

#map{
    height: 400px;
    width: 118vh;
}